* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}
/* Header */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

/* Used nav tag instead of div for navigation links in the header section as nav here is better semantic html element*/

header nav {
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Unordered list with hyperlinks to same page */
nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* The Hero image*/
.hero-image {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.content { 
    /* sets the content width to 75%  */
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* grouping selectors for the same declaration */
.search-engine-optimization,
.online-reputation-management,
.social-media-marketing
{   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* flex container to wrap 2 sections content and benefits */
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* sets the division container width to 72% */
.division{
    width:72%;
}

/*used to change the direction of row so that image is to the right side of the container*/
.right {
    flex-direction: row-reverse;
}

/* consolidated 3 identically functional selectors into one with its parent class content*/
.content img {
    /* sets the image width to 25% */
    width: 25%;
    max-height: 200px;
 }

 /* consolidated 3 identically functional selectors into one with its parent class Content*/
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* grouping selectors for the same declaration */
.benefit-lead,
.benefit-brand,
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* consolidated 3 identically functional selectors into one with its parent class benefits */
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}


/* .benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
} */


/* consolidated 3 identically functional selectors into one with its parent class benefits*/
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Footer Section */
footer {
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
